<html>

<head>
    <style>

    </style>
</head>

<body>
    <p>Hi {{name}},</p>
    <p>You requested for email verification.</p>
    <p> Please, click the link below to verify your acount</p>
    <a href="https://{{link}}">Verify Account</a>
</body>

</html>